/* 页脚透明 */
/*这里使用的是Akilar大佬的修改方案，个人倾向于一图流*/
#footer{
    background: transparent!important;
  }
  /* 头图透明 */
  #page-header{
    background: transparent!important;
  }
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
  #page-header.post-bg:before {
    background-color: transparent!important;
  }
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"]
    #footer::before{
        background: transparent!important;
      }
  [data-theme="dark"]
    #page-header::before{
      background: transparent!important;
      }
/*修改页脚的模糊毛玻璃效果*/      
#footer, #footer:before {
    background: transparent!important
}
  


/* 字体调整 */
@font-face {
    font-family:'siyuan';
    src: url("../font/siyuan.woff2") format("woff2"),
       url("../font/siyuan.woff") format("woff"),
       url("../font/siyuan.ttf") format("truetype"),
       url("../font/siyuan.eot") format("embedded-opentype"),
       url("../font/siyuan.svg") format("svg"),
       url("../font/siyuan.otf") format("opentype");; /* 修改成你的字体 */
    font-display:swap
}
h1#site-title {
    font-family:siyuan!important
}
span#subtitle {
    font-family:siyuan!important
}
a#site-name {
    font-family:siyuan!important
}

/*指针样式*/
/*这里直接抄袭了小康大佬的*/
body {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
        default;
}
/*链接小手样式*/
a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
}

